*{
	margin: 0; 
	padding: 0; 
}

body{
	background-color: black;
	font-family: "Helvetica"; 
	color: seashell; 
}

.container{
	position: relative; 
	top: 70px; 
	height: 100vh; 
}
.container{
	display: block; 
	width: 90%; 
	margin: auto; 
	background-image: url("images/img-mission-background.webp");
	background-position: center; 
	background-size: cover; 
}
nav{
	position: fixed; 
	z-index: 10; 
	left: 0;
	right: 0; 
	top: 0; 
	height: 100%; 
	width: 100%; 
	padding: 15px 25px;  	
}

nav .logo{
	float: left; 
	width: 40%; 
	height: 50px; ; 
	display: flex; 
	align-items: center; 
	justify-content: flex-start; 
	
}


nav .links{
	float: right; 
	padding: 0; 
	margin: 0; 
	width: 60%; 
	height: 100%; 
	display: flex; 
	justify-content: space-around; 
	
}

nav .links li{
	list-style: none; 
	padding: 10px 0; 
}

nav .links li a{
	color: seashell; 
	font-size: 20px; 
	font-weight: bold;  
}
 
#nav-toggle{
	position: absolute; 
}

nav .icon-burger{
	display: none;  
	position: absolute; 
	right: 15%;
	top: 5%;
	transform: translateY(-50%)
}

nav .icon-burger .line{
	width: 30px; 
	height: 5px; 
	background-color: seashell; 
	margin: 5px; 
	border-radius: 3px; 
} 


@media screen and (max-width: 700px){
	nav .logo{
		float: left; 
		width: auto; 
		margin-left: 0;  
		 
	}
	nav .links{
		float: none; 
		position: fixed;
		z-index: 9; 
		left: 0; 
		right: 0; 
		top: 70px;
		bottom: 0;
		flex-direction: column; 
		width: auto; 
		align-items: center; 
		background-color: rgba(0,0,0,.8); 
	}
	nav .links a{
		font-size: 16px; 
	}
	nav .icon-burger{
		display: block; 
	}
	
	
}








