*{
	margin: 0; 
	padding: 0;
	background-color: black; 
	font-family: "Helvetica", "sans-serif"; 
	font-size: 22px; 
	color: seashell;  
}
.header{
	height: 700px;
	width: 100%;
}
nav{
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	padding: 4px 14px; 
	border-bottom: solid 1px seashell; 
}
.logo{
	height: 50px; 
	margin-left: 10px; 
}
.banner{
	width: 100%; 
	margin: 1px 5px;  
	background-position: center; 
}
.nav-links{
	flex: 1; 
	text-align: right; 	
}

.nav-links ul li{
	list-style: none; 
	display: inline-block; 
	padding: 8px 12px; 
	position: relative; 
}

.nav-links ul li a{
	color: #fff; 
	font-size: 13px; 
	text-decoration: none; 
}

.nav-links ul li::after{
	content: ''; 
	width: 0%; 
	height: 2px; 
	background: seashell; 
	display: block; 
	margin: auto;
	transition: 0.5s; 
}

.nav-links ul li:hover::after{
	width: 100%; 
}

